{% extends 'base.html' %}

{% load static %}

{% block title %}Change password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}" />
{% endblock %}

{% block body %}
    <section id="change_password" class="form_section">
        <div class="wrapper">
            <div class="form_container">
                <div class="form_content">
                    <div class="form_header">
                        <h2>Change password</h2>
                    </div>
                    {% if form.errors %}
                        <div class="error_message">
                            <h4>{{form.errors}}</h4>
                        </div>
                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="input_field">
                            <label for="{{form.old_password.id_for_label}}">{{form.old_password.label}}:</label>
                            {{form.old_password}}
                        </div>
                        <div class="input_field">
                            <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}:</label>
                            {{form.new_password1}}
                        </div>
                        <div class="input_field">
                            <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}:</label>
                            {{form.new_password2}}
                        </div>
                        <div class="input_field">
                            <input type="submit" value="Change Password" />
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--( #articles > .wrapper )-->
    </section> <!--( #articles )-->
{% endblock %}