{% extends 'base.html' %}

{% load static %}

{% block title %}Password updated successfully{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}" />
<link rel="stylesheet" href="{% static 'styles/fixed_footer.css' %}" />
{% endblock %}

{% block body %}
    <section id="password_change_done" class="after_message">
        <div class="wrapper">
            <div class="message">
                <h2>Password Changed</h2>
                <p>Your password has been changed <a href="{% url 'articles:articles' %}">Home</a></p>
            </div>
        </div> <!--( #articles > .wrapper )-->
    </section> <!--( #articles )-->
{% endblock %}