<section id="pagination">
    <div class="wrapper">
        <ul class="blog_pager">
            {% if page.has_previous %}
                <li class="blog_pager_prev">
                    <a href="?page={{page.previous_page_number}}"><span class="material-symbols-outlined">arrow_back</span></a>
                </li>
                {% if articles.number > 3 %}
                    <li class="blog_pager_page"><a href="?page=1">1</a></li>
                    {% if articles.number > 4 %}
                        <li class="blog_pager_page dotted"><span>...</span></li>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% for num in articles.paginator.page_range %}
                {% if articles.number == num %}
                    <li class="blog_pager_page"><a href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
                    <li class="blog_pager_page"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                {% if articles.number < articles.paginator.num_pages|add:'-3' %}
                    <li class="blog_pager_page dotted"><span>...</span></li>
                    <li class="blog_pager_page"><a href="?page={{ articles.paginator.num_pages }}">{{ articles.paginator.num_pages }}</a></li>
                {% elif articles.number < articles.paginator.num_pages|add:'-2' %}
                    <li class="blog_pager_page"><a href="?page={{ articles.paginator.num_pages }}">{{ articles.paginator.num_pages }}</a></li>
                {% endif %}
                    <li class="blog_pager_next">
                        <a href="?page={{page.next_page_number}}"><span class="material-symbols-outlined">arrow_forward</span></a>
                    </li>
            {% endif %}
        </ul>
    </div>
</section>
