section#articles {
    padding: 100px 0 0;
    .wrapper {
        ul.articles {
            li.article {
                margin-bottom: 20px;
                line-height: 2;
                &:last-child {
                    margin-bottom: 0;
                }
                .article_title {
                    a {
                        display: block;
                        font-size: 36px;
                        @media all and (max-width: 600px){
                            font-size: 32px;
                        }
                    }
                }
                .article_info {
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        margin-right: 4px;
                        color: teal;
                        &.comma {
                            margin-right: 10px;
                        }
                    }
                }
                .article_body p {
                    max-height: 90px;
                    overflow: hidden;
                }
            }
        }
    }
}