section#details {
    padding: 90px 0 0;   
    .wrapper {
        .container {
            line-height: 2;
            .article_head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .article_title {
                    font-size: 36px;
                    margin-right: 20px;
                }
                span {
                    display: inline-block;
                    font-size: 36px;
                    cursor: pointer;
                    font-weight: 700;
                    transition: 200ms;
                    &.edite {
                        color: teal;
                        margin-right: 20px;
                        &:hover {
                            color: rgb(225, 219, 23);
                        }
                    }
                    &.delete {
                        color: teal;
                        &:hover {
                            color: crimson;
                        }
                    }
                }
            }
            .article_info {
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                    margin-right: 4px;
                    color: teal;
                    &.comma {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}